extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") Features
                    li
                        a(href="/", class="nav-link px-2 text-white") Pricing
                    li
                        a(href="/", class="nav-link px-2 text-white") FAQs
                    li
                        a(href="/", class="nav-link px-2 text-white") About
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    button.btn.btn-outline-light.me-2 Login
                    button.btn.btn-warning Sign-up
    div.main
        p
            h3 글 작성
            div.form-floating
                textarea.form-control(id="title")
                label(for="title") title
            br
            div.form-floating
                textarea.form-control(id="description")
                label(for="decription") description
            div.form-floating
                select.form-select(id="floatingSelect", aria-label="Floating label select example")
                   //- db불러와서 선택 필요
                   //- 이중 쿼리 쓰게 되네(callback hell도 정리해야하는데..)
                    option(selected) Open this select menu
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                label(for="floatingSelect") Works with selects
        .button-container
            form(action="/create_process", method="post")
                button.btn.btn-outline-primary(type="submit") 작성
    div.container2
        footer.py-3.my-4.sticky-footer
            ul.nav.justify-content-center.border-bottom.pb-3.mb-3
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Home
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Features
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Pricing
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") FAQs
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") About
            p.text-center.text-body-secondary GuGu's CRUD web