extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") Features
                    li
                        a(href="/", class="nav-link px-2 text-white") Pricing
                    li
                        a(href="/", class="nav-link px-2 text-white") FAQs
                    li
                        a(href="/", class="nav-link px-2 text-white") About
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    button.btn.btn-outline-light.me-2 Login
                    button.btn.btn-warning Sign-up
    div.main
        p
            form(action="/create_process", method="post")
                h3 글 작성
                div.form-floating
                    textarea.form-control(id="title", name="title")
                    label(for="title") title
                br
                div.form-floating
                    textarea.form-control(id="description", name="description")
                    label(for="decription") description
                br
                div.form-floating
                    select.form-select(id="floatingSelect", name="selection", aria-label="Floating label select example")
                        each user, index in userlist
                            option(value=index+1) #{user.name}
                    label(for="floatingSelect") user
                .button-container
                        button.btn.btn-outline-primary(type="submit") 작성