extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") 미구현
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    if isAuthenticated
                        a.btn.btn-outline-light.me-2(href="/auth/logout") Logout
                    else
                        a.btn.btn-outline-light.me-2(href="/auth/login") Login
                        a.btn.btn-warning(href="/auth/register") Sign Up 
    div.main
        div.container.mt-5
            div.alert.alert-info
                p #{message}
            div.row.justify-content-center
                div.col-md-6
                    div.card
                        div.card-header
                            h3.text-center Login
                        div.card-body
                            form(action="/auth/login_process", method="post")
                                div.form-group
                                    label(for="username") Email
                                    input.form-control(type="text", name="email", required=true)
                                div.form-group.mt-3
                                    label(for="password") Password
                                    input.form-control(type="password", name="password", required=true)
                                button.btn.btn-primary.mt-3(type="submit") Login
                        
                    div.text-center.mt-3
                        a(href="/auth/register") Don't have an account? Sign Up