extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") Features
                    li
                        a(href="/", class="nav-link px-2 text-white") Pricing
                    li
                        a(href="/", class="nav-link px-2 text-white") FAQs
                    li
                        a(href="/", class="nav-link px-2 text-white") About
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    button.btn.btn-outline-light.me-2 Login
                    button.btn.btn-warning Sign-up
    div.main
        p 
            h1 게시판
        table.table
            thead
                tr
                    th(scope="col") user name
                    th(scope="col") writing title
                    th(scope="col") created
            tbody
                each data in datalist
                    tr
                        th(scope="row")= data.user_name
                        td.read
                            a(href=`/writing?id=${data.writing_id}`)= data.title
                        td= new Date(data.created).toLocaleString('ko-KR')
                        //- JS의 Date 객체와 method 사용으로 한국어로 변경
        .button-container
            //- type을 button으로 줘야 작동
            button.btn.btn-outline-primary.create(type="button") 글 생성