extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") Features
                    li
                        a(href="/", class="nav-link px-2 text-white") Pricing
                    li
                        a(href="/", class="nav-link px-2 text-white") FAQs
                    li
                        a(href="/", class="nav-link px-2 text-white") About
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    button.btn.btn-outline-light.me-2 Login
                    button.btn.btn-warning Sign-up
    div.main
        p
            form(action="/auth/register_process", method="post")
                div.container
                    div.row.justify-content-center
                        div.col-md-4
                            h2.text-center Sign Up
                            form
                                div.form-group.mt-3
                                    label(for="inputName") Nickname
                                    input.form-control(type="text", id="inputName", name="nickname", placeholder="nickname", required=true)
                                div.form-group.mt-3
                                    label(for="inputEmail") Email address
                                    input.form-control(type="email", id="inputEmail", name="email", placeholder="email", required=true)
                                div.form-group.mt-3
                                    label(for="inputPassword") Password
                                    input.form-control(type="password", id="inputPassword", name="password", placeholder="Password", required=true)
                                div.form-group.mt-3
                                    label(for="inputConfirmPassword") Confirm Password
                                    input.form-control(type="password", id="inputConfirmPassword", placeholder="Confirm Password", required=true)
                                div.form-group.d-flex.flex-column-reverse.align-items-end.mt-3
                                    button.btn.btn-primary(type="submit") Sign Up