extends layout

block content
    div.p-3.text-bg-dark
        div.container
            div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a(href="/", class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                    svg.bi.me-2(width="40", height="32", role="img", aria-label="Bootstrap")
                        use(xlink:href="#bootstrap")
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a(href="/", class="nav-link px-2 text-secondary") Home
                    li
                        a(href="/", class="nav-link px-2 text-white") Features
                    li
                        a(href="/", class="nav-link px-2 text-white") Pricing
                    li
                        a(href="/", class="nav-link px-2 text-white") FAQs
                    li
                        a(href="/", class="nav-link px-2 text-white") About
                form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
                    input(type="search", class="form-control form-control-dark text-bg-dark", placeholder="Search...", aria-label="Search")
                div.text-end
                    button.btn.btn-outline-light.me-2 Login
                    button.btn.btn-warning Sign-up
    div.main
        p 
            div.col-md-8.position-relative
                h3.pb-4.mb-4.fst-italic.border-bottom
                article
                    //- sql 객체는 배열에 포장되어있음
                    h2= data[0].title
                    br
                    //- 방법이 없어서 html 태그 사용
                    p #{new Date(data[0].created).toLocaleString('ko-KR')} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by <strong>#{data[0].user_name}</strong>
                    p= data[0].description
                    hr
                .button-container-read
                    button.btn.btn-outline-primary(type="submit") 글 수정
                    | &nbsp;&nbsp;
                    button.btn.btn-outline-primary(type="submit") 글 삭제
    div.container2
        footer.py-3.my-4.sticky-footer
            ul.nav.justify-content-center.border-bottom.pb-3.mb-3
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Home
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Features
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") Pricing
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") FAQs
                li.nav-item
                    a(href="/", class="nav-link px-2 text-body-secondary") About
            p.text-center.text-body-secondary GuGu's CRUD web